.events {
	background-color: #0a090de1;
	background-image: url(../../assets/627987.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: multiply;
	background-attachment: fixed;
	text-align: center;
	padding: 48px 15% 1px 15%;
	min-height: 100%;
	width: 100%;
}
li{
		margin: 15px 0;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	text-align: center;
}

.right {
	right: 0;
	background-color: blue;
}

.left {
	left: 0;
	background-color: #222;
}