.servers {
	background-color: #0a090d;
	background-image: url(../../assets/627986.jpg);
	background-blend-mode: multiply;
	padding: 48px 15% 0px 15%;
	min-height: 100%;
	width: 100%;
}

.serverlinks {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Roboto Mono', arial, sans-serif;
	font-weight: 400;
	color: #FF9000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}