.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 42px;
	padding: 0;
	background: #0a090d;
	box-shadow: 0 0 5px rgba(33, 131, 128, 0.1);
	z-index: 50;
}

.header h1 {
	float: left;
	margin: 0;
	padding: 0 15px;
	font-size: 12px;
	line-height: 48px;
	font-weight: 400;
	color: #f6f8ff;
}

.header nav {
	float: right;
	font-size: 100%;
}

.header nav a {
	display: inline-block;
	height: 48px;
	font-size: 12px;
	line-height: 48px;
	padding: 0 15px;
	min-width: 50px;
	text-align: center;
	background: rgba(255,255,255,0);
	text-decoration: none;
	color: #f6f8ff;
	will-change: background-color;
}

.header nav a:hover,
.header nav a:active {
	color: rgba(33, 131, 128,0.2);
}

.header nav a.active {
	color: rgba(33, 131, 128,0.4);
}
